<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h2> Регистрация пользователя</h2>
</div>
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Регистрация</title>
</head>

<body>
<form action="" method="post" autocomplete="off">

<table width="30%" border="1" align="center">


<tr>
	Фамилия:
		<td>
			<input type="text" id="surname" placeholder="Фамилия" pattern="^[A-Za-zА-Яа-яЁё]+$" />
		</td>
</tr>
<tr>
	Имя:
		<td>
			<input type="text" id="name" placeholder="Имя" pattern="^[A-Za-zА-Яа-яЁё]+$" />
		</td>
</tr>
<tr>
	Отчество:
		<td>
			<input type="text" id="patronymic" placeholder="Отчество" pattern="^[A-Za-zА-Яа-яЁё]+$" />
		</td>
</tr>
<tr>
	Дата рождения:
		<td>
		<input type="date" id="birthday" value="option" max="2018-01-21">
		</td>
</tr>
<tr>
	Паспорт:
		<td>
		    <p>Введите серию и номер паспорта без пробела, где вместо N должна быть цифра:</p>
			<p><input type="text" id="passport" placeholder="NN NN NNNN" maxlength="10" pattern="[0-9]{10}"/></p>
		</td>
</tr>
<tr>
	Логин:
	<td>
		<input type="text" id="login" pattern="^[a-z]+$" required />
	</td>
</tr>
<tr>
	Пароль:
	<td>
		<input type="password" id="password" minlength="10" pattern="^[\D]+$" required />
	</td>
</tr>

<head>
<script>
   function showPeople() {
        var peopleJSON = localStorage.getItem("people"); //получаем JSON-строку массива
        var list = document.getElementById("list"); //ссылка на список в DOM
        list.innerHTML = ""; //очищаем список
        if (peopleJSON) { //если localStorage содержит пользователей
            var people = JSON.parse(peopleJSON); //получаем массив
            for (var i = 0; i < people.length; i++) { //Для каждого пользователя
                var li = document.createElement("li");
                li.innerHTML = "<br><b>Фамилия</b>: " + people[i].surname +"<b>Имя</b>: " + people[i].name +  "<br><b>Отчество</b>: " + people[i].patronymic + "<br><b>День рождения/b>: " + people[i].birthday + "<br><b>Паспорт</b>: " + people[i].passport + "<br><b>Логин</b>: " + people[i].login + "<br><b>Пароль</b>: " + people[i].password;
                list.appendChild(li); //выводим на экран
            }
        } else { //если localStorage не содержит пользователей
            list.innerHTML = "<i>Список пуст</i>";
        }
    }

		function savePerson() {
        var form = document.forms[0]; //получаем форму
        var name = form.name.value.trim(); //имя без пробелов на концах
        var surname = form.surname.value.trim(); //фамилия без пробелов на концах
<!--		var patronymic = form.patronymic.value.trim(); //отчество без пробелов на концах
<!--		var birthday = form.birthday.value.trim(); 
<!--		var passport = form.passport.value.trim(); 
<!--		var login = form.login.value.trim(); 
<!--		var password = form.password.value.trim();
		
        if (name && surname) { //если и имя и фамилия существуют
            var peopleJSON = localStorage.getItem("people");
            var people;
            if (peopleJSON) { //если localStorage хранит массив
                people = JSON.parse(peopleJSON);
            } else { //иначе
                people = [];
            }
 
            //записываем пользователя в массив
            people.push({
                name: name,
                surname: surname,
				patronymic: patronymic,
				birthday: birthday,
				passport: passport,
				login: login,
				password: password
            });
            //сохраняем новый массив
            localStorage.setItem("people", JSON.stringify(people));
 
            //очищаем поля
            form.name.value = "";
            form.surname.value = "";
        } else { //если хоть одно поле пусто
            alert("Поля не должны быть пустыми!");
        }
	}
 
    function clean() {
        localStorage.removeItem("people");
    } 
    showPeople();
</script>
</head>

		<!--Сохраняет человека в хранилище и выводит на экран-->
		<input type="button" value="Регистрация!" align="center" onclick="savePerson(); showPeople()"/>
		<!--Удаляет всех людей из хранилища и выводит на экран-->
		<input type="button" value="Очистить" onclick="clean(); showPeople()">
		
</table>
</form>
</body>
</html>




<h2>Список пользователей</h2> 
<ul id="list">
 
</ul>

